body{
    font-family: 'Raleway', sans-serif;
    margin-top:0;
    margin-left: 10px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo{
    width: 97px;
    height: 45px;
    padding: 20px 0px 30px 0px;
    }

#inscription{
    color: #0065fc;
    font-weight: 1000;
    padding: 20px 10px 30px 15px;
    border-top: #fff solid;
}

#inscription:hover{
    border-top: #0065fc solid;
}

/* "Hébergement/Activités border */
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin:none;
}

nav a{
    padding: 0 17% 0 10%;
    border-bottom: #f2f2f2 3px solid;
    width: 100%;
}

nav a:hover{
    color: #0065fc;
    border-bottom: #0065fc solid;
}

/* "Hébergement/Activités media */
@media (min-width: 430px){
    #inscription{
        order: 1;
    }

    header{
        justify-content: flex-end;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    nav{
        justify-content: flex-end;
        width: auto;
    }
    nav a{
        border-bottom: none;
        border-top: #fff solid;
    }
    nav a:hover{
        color: #0065fc;
        border-bottom: none;
        border-top: #0065fc solid;
    }
    #logo{
        width: auto;
        margin: 0px;
        justify-self: flex-start;
    }
    nav a{
        padding: 20px 15px 0;
    }
}


/*search bar*/
#search_box{
    display: flex;
}

#search_box input{
    margin: none;
}

#geo_marker{
    background-color: #f2f2f2;
}

form button{
    margin: 0px;
    color: #fff;
    background-color: #0065fc;
    border: none;
    height: 100%;
    margin: none;
}







