body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* "Hébergement/Activités border */
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: #f2f2f2 solid;
    margin: ;
}

#logo{
    width: 97px;
    height: 45px;
    margin: 20px 0px 30px 10px;
}

#inscription{
    color: #0065fc;
    font-weight: 1000;
    margin: 20px 10px 30px 0px;
}



